<a href="https://colab.research.google.com/github/18K41A0247/ASSIGNMENT-1/blob/master/AI_1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

1.	Develop a code for below scenario

In [ ]:
year=int(input("enter year\n"))
n={0:"monkey",1:"rooster",2:"dog",3:"pig",4:"rat",5:"ox",6:"tiger",7:"rabbit",8:"dragon",9:"snake",10:"horse",11:"sheep"}
x=year%12
print(n[x])

enter year
2000
dragon

2.	A Quick Fox Transport Co. wants to develop an application for calculating amount based on distance and weight of goods. The charges (Amount) to be calculated as per rates given below.

In [ ]:
d=int(input("enter the distance\n"))
w=int(input("enter weight\n"))
if d>=500:
  if w>=100:
    amount=d*5
  if w>=10 and w<=100:
    amount=d*6
  if w<7:
    amount=d*7
else :
  if w>=100:
    amount=d*8
  else :
    amount=d*5    
print("amount to be charged",amount)

enter the distance
520
enter weight
50
amount to be charged 3120

3.	The Entertainment Paradise

 A theater in Delhi wants to develop a computerized Booking System. The theater offers different types of seats. The Ticket rates are- Stalls- Rs. 625/-, Circle- Rs.750/-, Upper Class- Rs.850/- and Box- Rs.1000/-. A discount is given 10% of total amount if tickets are purchased on Cash. In case of credit card holders 5% discount is given.

In [ ]:
seats=str(input("enter the type of seat\n"))
s={"stalls":625,"circle":750,"upper class":850,"box":1000}
paymentmode=str(input("enter payment mode\n"))
p={"cash":0.1,"credit card":0.05}
cost=s[seats]-(s[seats]*p[paymentmode])
print("cost of ticket:",cost,"₹")

enter the type of seat
circle
enter payment mode
cash
cost of ticket: 675.0 ₹

4.	Develop a program that calculates the energy needed to heat water from an initial temperature to a final temperature. Your program should prompt the user to enter the amount of water in kilograms and the initial and final temperatures of the water. The formula to compute the energy is 
Q = M * (finalTemperature – initialTemperature) * 4184.
where M is the weight of water in kilograms, temperatures are in degrees Celsius,  and energy Q is measured in joules. (L6)

In [ ]:
m=int(input("enter the weight of water in kg\n"))
it=int(input("enter the initial temperature\n"))
ft=int(input("enter the final temperature\n"))
q=m*(ft-it)*4184
print("total energy consumed is",q,"j")

enter the weight of water in kg
15
enter the initial temperature
10
enter the final temperature
80
total energy consumed is 4393200 j

5.	Develop a program that prompts user to enter month and  print 
a.	“Winter ” -   December ,January and February
b.	“Spring”  -   March ,April and May
c.	“Summer”  --- June ,July, August
d.	“Autumn ”  -- September ,October, November

In [ ]:
month=str(input("enter the month\n"))
m={"january":"winter","february":"winter","march":"spring","april":"spring","may":"spring","june":"summer","july":"summer","august":"summer","september":"autumn","october":"autumn","november":"autumn","december":"winter"}
print(m[month])

enter the month
august
summer

6.	Body Mass Index

In [ ]:
w=float(input("enter weight in pounds\n"))
h=float(input("enter height in inches\n"))
BMI=(w*0.45359237)/((h*0.0254)**2)
print("BMI is",BMI)
if BMI<18.5:
  print("underweight")
elif BMI>=18.5 and BMI<25.0:
  print("normal")
elif BMI>=25.0 and BMI<30.0:
  print("overweight")
elif BMI>=30.0:
  print("obese")

enter weight in pounds
132
enter height in inches
68
BMI is 20.070325370322028
normal

7.	Write a program that reads an integer between 100 and 1000 and adds all the digits in the integer

In [ ]:
num=int(input("enter a number between 100 and 1000 :"))
sum=0
while(num>0):
  r=num%10
  sum=sum+r
  num=num//10
print(sum)

enter a number between 100 and 1000 :745
16

8.	Print all palindrome numbers between 1 to 1000

In [ ]:
for n in range(1,1000):
  rev=0
  num=n
  while num>0:
    r=num%10
    rev=(rev*10)+r
    num=num//10
  if n==rev:
    print(n)

1
2
3
4
5
6
7
8
9
11
22
33
44
55
66
77
88
99
101
111
121
131
141
151
161
171
181
191
202
212
222
232
242
252
262
272
282
292
303
313
323
333
343
353
363
373
383
393
404
414
424
434
444
454
464
474
484
494
505
515
525
535
545
555
565
575
585
595
606
616
626
636
646
656
666
676
686
696
707
717
727
737
747
757
767
777
787
797
808
818
828
838
848
858
868
878
888
898
909
919
929
939
949
959
969
979
989
999

9.	Print all Armstrong numbers between 1 to 1000

In [ ]:
for num in range(1,1000):
   sum = 0
   temp = num
   while temp > 0:
       digit = temp % 10
       sum += digit ** 3
       temp //= 10 
   if num == sum:
       print(num)

1
153
370
371
407

10.	Write a Java program which iterates the integers from 1 to 100. For multiples of three print "Fizz" instead of the number and print "Buzz" for the multiples of five. When number is divided by both three and five, print "fizz buzz".

In [ ]:
for n in range(1,100):
  if n%3==0 and n%5==0 :
    print("Fizz Buzz")
  elif n%5==0 :
    print("Buzz")
  elif n%3==0 :
    print("Fizz")
  else :
   print(n)

1
2
Fizz
4
Buzz
Fizz
7
8
Fizz
Buzz
11
Fizz
13
14
Fizz Buzz
16
17
Fizz
19
Buzz
Fizz
22
23
Fizz
Buzz
26
Fizz
28
29
Fizz Buzz
31
32
Fizz
34
Buzz
Fizz
37
38
Fizz
Buzz
41
Fizz
43
44
Fizz Buzz
46
47
Fizz
49
Buzz
Fizz
52
53
Fizz
Buzz
56
Fizz
58
59
Fizz Buzz
61
62
Fizz
64
Buzz
Fizz
67
68
Fizz
Buzz
71
Fizz
73
74
Fizz Buzz
76
77
Fizz
79
Buzz
Fizz
82
83
Fizz
Buzz
86
Fizz
88
89
Fizz Buzz
91
92
Fizz
94
Buzz
Fizz
97
98
Fizz

11.	Spider Problem: A spider present at the bottom of the well of height H, needs to get out of it, using the slippery wall of the well. It decides to climb up the well; it goes up U meters and slips down D meters in one single step. So, in each step it covers (U-D) meters, and if the spider gets out of the well by covering U meters in the last step it doesn’t a slip back. For example, if the spider climbs up 5 meters and slips down by 3 meters in a single step, it covers (U - D) m in each step and 96 m in 48 steps, but in the 49th step it climbs up 5 m and reaches out of the well and it will not slip down and the step is counted as one step.     
Input: Each test case will contain 3 integers ’H’ height of the well, next ’U’ meters climbs up in each step, and the last ’D’ meters slips down in each step.
Output:  The number of steps 'N' required to get out of the well.

In [ ]:
h=int(input("enter the height of the well\n"))
u=int(input("enter the distance spider climbs in each step\n"))
d=int(input("enter the distance spider slips down in each step\n"))
sum=0
while h>=u:
  sum+=1
  h-=u-d
sum+=1
print("the number of steps",sum)

enter the height of the well
500
enter the distance spider climbs in each step
20
enter the distance spider slips down in each step
15
the number of steps 98